[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy.git
